
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" data-assets-path="/admin-template/" data-template="vertical-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <base href="/" />

    <title>Dashboard - eCommerce | Materialize - Material Design HTML Admin Template</title>


    <meta name="description" content="Materialize – is the most developer friendly &amp; highly customizable Admin Dashboard Template." />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <link rel="icon" type="image/x-icon" href="/admin-template/img/favicon/favicon.ico" />
    <link rel="stylesheet" href="AircraftFinder.styles.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet">

    <link rel="stylesheet" href="/admin-template/vendor/fonts/materialdesignicons.css" />
    <link rel="stylesheet" href="/admin-template/vendor/fonts/flag-icons.css" />

    <link rel="stylesheet" href="/admin-template/vendor/libs/node-waves/node-waves.css" />

    <link rel="stylesheet" href="/admin-template/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/admin-template/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/admin-template/css/demo.css" />

    <link rel="stylesheet" href="/admin-template/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    @* Important CSS For Select*@
    <link rel="stylesheet" href="/admin-template/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/admin-template/vendor/libs/bootstrap-select/bootstrap-select.css" />


    <script src="/admin-template/vendor/js/template-customizer.js"></script>
    <script src="/admin-template/js/config.js"></script>

</head>

<body>

    <Routes />


    <script src="/admin-template/vendor/libs/jquery/jquery.js"></script>
    <script src="/admin-template/vendor/libs/popper/popper.js"></script>
    <script src="/admin-template/vendor/js/bootstrap.js"></script>
    <script src="/admin-template/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/admin-template/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/admin-template/vendor/js/menu.js"></script>


   @* Important JS For Select*@
  @*   <script src="/admin-template/vendor/libs/select2/select2.js"></script>
    <script src="/admin-template/vendor/libs/bootstrap-select/bootstrap-select.js"></script> *@

    <script src="/admin-template/js/main.js"></script>
    <script src="/admin-template/js/app-ecommerce-dashboard.js"></script>

    @* Important JS For Select*@
    @* <script src="/admin-template/js/forms-selects.js"></script> *@


    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script src="_framework/blazor.web.js"></script>

</body>

</html>
